<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hello</h1>

    <h2>Multipurpose Automation App.</h2>

    <!-- <script type="text/javascript">
      (function(d, t) {
          var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
          v.onload = function() {
            window.voiceflow.chat.load({
              verify: { projectID: '66b92af506efa45a4651f3ef' },
              url: 'https://general-runtime.voiceflow.com',
              versionID: 'production'
            });
    
            // Ensure the chat widget is loaded and then open it
            if (window.voiceflow && window.voiceflow.chat) {
              window.voiceflow.chat.open(); // Assuming there's an open method
            }
          }
          v.src = "https://cdn.voiceflow.com/widget/bundle.mjs";
          v.type = "text/javascript"; 
          s.parentNode.insertBefore(v, s);
      })(document, 'script');
    </script> -->
    
    
<div style="width: 0; height: 0;" id="VG_OVERLAY_CONTAINER">
  <!-- Here is where Voiceglow renders the widget. -->
  <!-- Set render to 'full-width' then adjust the width and height to 500px (for example) to render the chatbot itself without the popup. -->
</div>

<!-- Remove 'defer' if you want widget to load faster (Will affect website loading) -->
<script defer>
  (function() {
      window.VG_CONFIG = {
          ID: "r6eowhe6z6q0sh9j", // YOUR AGENT ID
          region: 'eu', // YOUR ACCOUNT REGION 
          render: 'bttom-right', // can be 'full-width' or 'bottom-left' or 'bottom-right'
          stylesheets: [
              // Base Voiceglow CSS
              "https://vg-bunny-cdn.b-cdn.net/vg_live_build/styles.css",
              // Add your custom css stylesheets, Can also add relative URL ('/public/your-file.css)
          ],
          // Optional user data -- start
          user: {
              name: 'John Doe', // User's name
              email: 'johndoe@gmail.com', // User's email
              phone: '+1234567890', // User's phone number
          }
          // Optional user data -- end
          // **
          // userID: 'USER_ID', // If you want to use your own user_id
          // autostart: true, // Whether to autostart the chatbot with the proactive message
      }
      var VG_SCRIPT = document.createElement("script");
      VG_SCRIPT.src = "https://vg-bunny-cdn.b-cdn.net/vg_live_build/vg_bundle.js";
      VG_SCRIPT.defer = true; // Remove 'defer' if you want widget to load faster (Will affect website loading)
      document.body.appendChild(VG_SCRIPT);
  })()
</script>

</body>
</html>