{% extends 'laundry-base.html' %}
{% load static %}

{% block title %} Laundry Clinic {% endblock title %}


<style>
  .table td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px; /* Adjust width as needed */
  }
  
  .table td:hover {
      overflow: visible;
      white-space: normal;
      max-width: none;
  }
  </style>
  

{% block dashboard_inner %}

              <!-- dashboard inner -->
              <div class="midde_cont">
               <div class="container-fluid">
                  <div class="row column_title">
                     <div class="col-md-12">
                        <div class="page_title">
                           <h2>Transcorp Hilton Checked-in Guests Requests</h2>
                        </div>
                     </div>
                  </div>

<!--end to be removed-->
 <div class="row">
     <div class="col-md-12">
       <div class="table-responsive">
         <table class="table table-striped table-hover" id="chatTableId">
             <thead class="table-light">
                <tr>
                <th scope="col">#</th>
                 <th scope="col">Customer Name</th>
                 <th scope="col">Room Number</th> 
                 <th scope="col">Request Type</th>
                 <th scope="col">Request Details</th>
                 <th scope="col">Time</th>
                 <th scope="col">Status</th>
               </tr>
             </thead>
             <tbody>
             {% for guest in guests %}
                <tr data-id="{{guest.id}}" onclick="window.location.href='/hotel-in-room-record/{{guest.id}}/'">
                <th scope="row"> {{ guest.start_index|add:forloop.counter0 }} </th>
                <td>{{guest.first_name}} {% if guest.last_name %}{{guest.last_name}}{% endif %}</td>
                <td>{{guest.room_number}}</td>
                <td>{{guest.request_type}}</td>
                <td>{{guest.request_details}}</td>
                <td>{{guest.timestamp}}</td>
                <td>{{guest.request_status}}</td>
               </tr>
             {% endfor %}
             </tbody>
       </div>
     </div>
 </div>
</div>
{% endblock dashboard_inner %}
<!--end dashboard inner-->

{% block scripts %}  

<script>
  // JavaScript to make each row clickable and navigate to the detail page
  document.querySelectorAll('tbody tr').forEach(row => {
      row.addEventListener('click', () => {
          const recordId = row.getAttribute('data-id'); // Set this data-id dynamically

          window.location.href = `/hotel-in-room-record/${recordId}/`; // Adjust the URL as needed
      });
  });
</script>

<script src="https://cdn.datatables.net/2.1.5/js/dataTables.js"></script>
   <script src="https://cdn.datatables.net/2.1.5/js/dataTables.bootstrap4.js"></script>
   
   <script>
    $('#chatTableId').DataTable();
</script>

{% endblock scripts %}