{% extends 'laundry-base.html' %}
{% load static %}

{% block title %} Complaints Details {% endblock title %}




{% block dashboard_inner %}
<div class="container">
    <!-- <h2>Record Details</h2> -->
    <br>
        <!--Check type of template to be displayed based on language. -->

        <p><strong>First Name:</strong> {{ guests.first_name }}</p>
        <p><strong>Last Name:</strong> {{ guests.last_name }}</p>
        <p><strong>Email:</strong> {{guests.email_address}}</p>
        <p><strong>Phone Number:</strong> {{ guests.phone_number }}</p>
        <p class="text-wrap"><strong>Request Details:</strong> {{guests.request_details}}</p>
        <p><strong>Request Status:</strong> {{ guests.request_status }}</p>
        <p class="text-wrap"><strong>Comments:</strong> {{guests.comments}}</p>
    <br>
    <br>
    <!--  -->
</div>


<div class="row">
    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-warning">Back to table</a>

    <form action="{% url 'update-in-room-request-status' guests.id 'do' %}" method="post" class="ml-3">
        {% csrf_token %}
        {% if guests.request_status == 'Open' %}
            <button class="btn btn-primary" type="submit">Mark as Resolved</button>
        {% else %}
            <button class="btn btn-secondary" type="submit">Undo Resolution</button>
        {% endif %}
    </form>
</div>
{% endblock dashboard_inner %}

